body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #333;
}

header {
  text-align: center;
  padding: 10px 0;
}

body > header {
  background-color: #555;
  color: #ddd;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

header > p {
  color: #ddd;
  font-size: 1.2rem;
  margin: auto 15px;
}

.post-meta {
  color: #aaa;
}

header h1 {
  margin: 0;
  padding: 0 20px;
}

main {
  background-color: #444;
  padding: 20px;
  margin: 20px 0;
  border-radius: 3px;
  max-width: 800px;
  min-height: 51vh;
  min-width: 400px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #555;
  color: #ddd;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

nav {
  padding: 0 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}

a {
  color: #88b04b; /* Pantone's Greenery color, like an old library lamp */
}

a: hover;
